
.snwb-multipart-form  {
	width: 100%;
}
.snwb-multipart-form form  {
	width: 100%;
	min-width: 100%;
	/*background:orange;*/
}
.snwb-multipart-form form .wrapper  {
	overflow: hidden;
	width: 100%;
	/*background:pink;*/
	border:1px solid #a3c2d8;
	height:800px;
	float: left;
	position: relative;
}
.snwb-multipart-form form .wrapper .multipart-section {
	padding:20px;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	/*background: red;*/
	/*border:1px solid purple;*/
	position: absolute;
	top:10px;
	-website-transition:left 1s linear;
	transition:left 1s linear;
}
.snwb-multipart-form form .wrapper .multipart-section article {
	/*border:1px solid gold;*/
	float: left;
}
.snwb-multipart-form form .wrapper .multipart-section.arriving {
}
.snwb-multipart-form form .wrapper .multipart-section.leaving {

}
.snwb-multipart-form form .wrapper .multipart-section .form-element {
	/*background: cyan;*/
	width: 100%;
	float: left;
	display: block;
}

.snwb-multipart-form form .wrapper .multipart-section .form-element label {
	/*background:blue;*/
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="text"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="number"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="email"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="password"] {
}
.snwb-multipart-form form .wrapper .multipart-section .form-element textarea {
	display: block;
	width: 100%;
	height:100px;
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="radio"] {
}	
.snwb-multipart-form form .wrapper .multipart-section .form-element label.radio-label {	
}

.snwb-next,
.snwb-submit,
.snwb-back {
	background: white;
    padding: 5px 10px;
    border:1px solid #a3c2d8;
    color:#443d46;
    /*text-transform: uppercase;*/
}
.snwb-next {
    font-weight:bold;
	float: 	right;	
}
.snwb-back {
	float: 	left;	

}
.snwb-submit {
    font-weight:bold;
	float: 	right;	

}