
.snwb-multipart-form  {
}
.snwb-multipart-form form  {
	/*overflow: hidden;*/
	width: 100%;
	min-width: 100%;
}
.snwb-multipart-form form .wrapper  {
	min-width: 100%;
	background:white;
	/*overflow: hidden; this breaks the functionality for some reason not currently understood */
	border:1px solid #a3c2d8;
	height:400px;
	position: relative;
	width: 100%;
}
.snwb-multipart-form form .wrapper .multipart-section {
	padding:20px;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	background: red;
	position: absolute;
/*	left:0 !important;
	right:0 !important;*/
	top:10px;
	-website-transition:left 1s linear;
	transition:left 2s linear;
}
.snwb-multipart-form form .wrapper .multipart-section.current {

}
.snwb-multipart-form form .wrapper .multipart-section.arriving {
}
.snwb-multipart-form form .wrapper .multipart-section.leaving {

}
.snwb-multipart-form form .wrapper .multipart-section .form-element {
}
.snwb-multipart-form form .wrapper .multipart-section .form-element label {
	/*background:blue;*/
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="text"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="number"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="email"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="password"] {
}
.snwb-multipart-form form .wrapper .multipart-section .form-element textarea {
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="radio"] {
}	
.snwb-multipart-form form .wrapper .multipart-section .form-element label.radio-label {	
}

.snwb-next,
.snwb-submit,
.snwb-back {
	background: white;
    padding: 5px 10px;
    border:1px solid #a3c2d8;
    color:#443d46;
    /*text-transform: uppercase;*/
}
.snwb-next {
    font-weight:bold;
	float: 	right;	
}
.snwb-back {
	float: 	left;	

}
.snwb-submit {
    font-weight:bold;
	float: 	right;	

}