
.snwb-data-collector {
	background: #393948;
	padding:40px 0;
}

.snwb-multipart-form  {
	width: 100%;
	background: white;
}
.snwb-multipart-form form  {
	width: 100%;
	min-width: 100%;
	/*background:orange;*/
}
.snwb-multipart-form form .wrapper  {
    overflow: hidden;
    overflow-y:scroll;
    width: 100%;
    background: white;
    border: 3px solid #a3c2d8;
    height: 600px;
    float: left;
    position: relative;
    border-radius: 2px;
}
.snwb-multipart-form form .wrapper .multipart-section {
	padding:20px;
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	/*background: red;*/
	/*border:1px solid purple;*/
	position: absolute;
	top:10px;
	-website-transition:left 1s linear;
	transition:left 1s linear;
}
.snwb-multipart-form form .wrapper .multipart-section article {
	/*border:1px solid gold;*/
	float: left;
}
.snwb-multipart-form form .wrapper .multipart-section.arriving {
}
.snwb-multipart-form form .wrapper .multipart-section.leaving {

}
.snwb-multipart-form form .wrapper .multipart-section .form-element {
	/*background: cyan;*/
	width: 100%;
	float: left;
	display: block;
}

.snwb-multipart-form form .wrapper .multipart-section .form-element label {
	/*background:blue;*/
	font-size: 18px;
	font-weight: 100;
	color: #393948;
	margin-bottom: 15px;
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="text"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="number"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="email"],
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="password"] {
    border-radius: 0 5px 10px 11px;
	border-left: 2px solid #a3c2d8;
	border-radius: 0 5px 10px 11px;
    border-left: 2px solid #a3c2d8;
    font-size: 18px;
    color: blakc;
    padding-top: 10px;
    height: inherit;
    font-weight: 100;
    padding-bottom: 10px;
    color: #393948;
}

.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="text"]:focus,
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="number"]:focus,
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="email"]:focus,
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="password"]:focus {
	border-left: 7px solid #a3c2d8;
	transition: border .3s ease-out;
}
.snwb-multipart-form form .wrapper .multipart-section .form-element textarea {
	transition: border .2s ease-out;
    border-radius: 0 5px 10px 11px;
	border-left: 2px solid #a3c2d8;
	display: block;
	width: 100%;
	height:100px;
}
.snwb-multipart-form form .wrapper .multipart-section .form-element textarea:focus {
	border-left: 7px solid #a3c2d8;
}
.snwb-multipart-form form .wrapper .multipart-section .form-element input[type="radio"] {
}	
.snwb-multipart-form form .wrapper .multipart-section .form-element label.radio-label {	
	/*border-left: 7px solid #a3c2d8;*/
}

.displaying-errors {
	    float: left;
    width: 100%;
    border: 1px dotted #c13131;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top:-10px;
    margin-bottom:10px;
    transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
	opacity:0;
	display: none;
}
.displaying-errors p {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color:#c13131;
	font-weight: 	500;
}
.displaying-errors.true {
	opacity:1;
}
.displaying-errors.false {

}

.form-controls {
	width:100%;
	float: 	left;
	margin-top:20px;
}
.snwb-next,
.snwb-submit,
.snwb-back {
	background: white;
    padding: 5px 10px;
    border:1px solid #a3c2d8;
    color:#443d46;
}
.snwb-next {
    font-weight:bold;
	float:right;	
}
.snwb-back {
	float:left;	
}
.snwb-submit {
    font-weight:bold;
	float:right;	
}

.thank-you-box {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height:400px;
	display:none;
	/*background: white;*/
}
.thank-you-box-inner {
	-webkit-transition: all .4s linear; 
	   -moz-transition: all .4s ease;
        -ie-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;
	/*ease-in-out;*/
	/*transition: all 2s;*/
	/*-webkit-transition: opacity 2s ease-in;*/
	/*transition: opacity 2s ease-in;*/
	padding:20px;
	height: 100%;
	background:white;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	-webkit-transform: scale(0.5);
  	transform: scale(0.5);
  	opacity:0.4;
}
.thank-you-box-inner h1 {
	/*color:darkblue;*/
	text-transform: uppercase;
	text-align: center;
	font-size: 26px;
}



.title-bar {
    background: #112110;
    padding: 0 .3rem .1rem .8rem;
    border-bottom: 1px solid #112110;
}

.title-bar {
    background: white !important;
    padding: 0 .3rem .1rem .8rem;
    border-bottom: 1px solid white !important;
}

